* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.circle {
  background: #fff;
  border: 1px solid #999;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: none;
}

.circle:hover {
  cursor: pointer;
}

.circle-div {
  width:33%;
  display:inline-block;
}

.square {
  background: #637962;
  border: 1px solid #999;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.square-div {
  width:25%;
  display:inline-block;
}

.selected {
  background: #35e430;
}

.board {
  margin: auto;
  width: 50%;
  min-width: 500px;
  border: 3px solid green;
  padding: 10px;
}

.board-row {
  display: table;
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}