* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.objective-panel {
  margin: auto;
  width: 50%;
  min-width: 500px;
  border: 3px solid black;
  padding: 10px;
}

.board {
  margin: auto;
  width: 50%;
  min-width: 500px;
  border: 3px solid green;
  padding: 10px;
}

.row {
  display: table;
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
}

.objective-div {
  width:80%;
  display: inline-block;
}

.objective {
  background: #0e6d23;
  border: 1px solid #999;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle-div {
  width:33%;
  display:inline-block;
}

.circle {
  background: #fff;
  border: 1px solid #999;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle:hover {
  cursor: pointer;
}

.square-div {
  width:25%;
  display:inline-block;
}

.square {
  background: #637962;
  border: 1px solid #999;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.selected {
  background: #35e430;
}