* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 5px;
}

#game {
  margin: auto;
  width: 50%;
  min-width: 140px;
  max-width: 700px;
  border: 6px solid red;
}

#objective-panel {
  border: 3px solid black;
}

#board {
  border: 3px solid yellow;
}

#submit-panel {
  border: 3px solid blue;
}

.row {
  display: flex;
  border: 3px solid green;
  padding: 10px;
}

#objective-div {
  width:60%;
  display: inline-block;
}

#objective {
  background: #fff;
  border: 1px solid #999;
  padding: 0;
  height: calc(40px + 1.5vw);
  line-height: calc(40px + 1.5vw);
  font-size: calc(20px + 1.5vw);
  font-weight: bold;
  text-align: center;
  border-radius: 1vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circle-div {
  width:33%;
  display:inline-block;
}

.circle {
  background: #fff;
  border: 3px dashed #000;
  padding: 0;
  font-size: calc(10px + 2vw);
  font-weight: bold;
  text-align: center;
  width: calc(20px + 6vw);
  height: calc(20px + 6vw);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.square-div {
  width:20%;
  display:inline-block;
}

.square {
  background: #637962;
  border: 1px solid #999;
  padding: 1vw;
  width: 5vw;
  height: 5vw;
  min-width: 20px;
  min-height: 20px;
  border-radius: 1vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.undo {
  background: #35be5b;
}

#refresh-div {
  width:40%;
  display:inline-block;
  float:right;
  margin-left: auto;
  margin-right: 0;
}

.refresh {
  background: #637962;
  border: 1px solid #999;
  padding: 10px;
  width: calc(40px + 1.5vw);
  height: calc(40px + 1.5vw);
  border-radius: 1vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#submit-div {
  margin: auto;
  width:40%;
  min-width:100px
}

.submit {
  width:100%;
  background: #8870c1;
  border: 1px solid #999;
  height: calc(20px + 4vw);
  font-size: calc(10px + 2vw);
  font-weight: bold;
  border-radius: 1vw;
  display: block;
}

input:active {
  background: #c7e2bd;
}

input:hover {
  cursor: pointer;
}

.selected {
  background: #35e430;
}